.botao-secundario {
  width: 202px;
  height: 48px;
  border-radius: 12px;
  background: #BC0808;
  color: #FFF;
  text-align: center;
  font-family: Impact, 'Arial Black', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
