<nav class="navbar">
  <div class="nav-wrapper">
    <ul>
      @for (item of itens; track item) {
        <li
          (click)="selecionar(item)"
          [class.ativo]="item === itemSelecionado">
          {{ item }}
        </li>
      } @empty {
        <li>Falha ao carregar navbar.</li>
      }
    </ul>
    <div class="perfil-menu" (click)="togglePerfil()">
      <div class="avatar-circulo">
        {{ iniciais }}
      </div>

      @if (menuAberto) {
        <div class="dropdown-perfil-card" (click)="$event.stopPropagation()">
          <div class="card-header">
            <div class="avatar-grande">{{ iniciais }}</div>
            <p class="nome">{{ usuario.nome }}!</p>
            <p class="email">{{ usuario.email }}</p>
          </div>

          <div class="card-actions">
            <button class="btn-sair" (click)="sair()">Sair</button>
          </div>
        </div>
      }
    </div>
  </div>
</nav>
