.botao-primario {
  width: 100%;
  max-width: 400px;
  height: 48px;
  border-radius: 12px;
  background: #1C1C1C;
  color: #FFF;
  text-align: center;
  font-family: Impact, 'Arial Black', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
